.head{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.headings{
    padding-bottom: 30px;
}
div{
    display: block;
}
i{
    color: burlywood;
}
.body{
    background-color: black;
    color:white;
    padding-top: 100px;
    
}
.btn1{
    background-color: red;
    color: white;
    height: 50px;
    width: 250px;
    border-radius: 8px;
}
.btn2{
    background-color: rgb(13, 22, 155);
    color: white;
    height: 50px;
    width: 250px;
    border-radius: 8px;
}
.button{
    justify-content: center;
    padding-left: 510px ;
    padding-top: 100px;
}
.img{
    padding-top: 50px;
    border-radius: 8px;
}